.product-info-column-one {
    padding-bottom: 275px;
}

#pi-container {
    position: relative;
    width: 1600px;
}

#image-feature-container{
    position: absolute;
    top: 170px;
    left: 100px;
}

@media (min-width: 1600px) {
    #pi-container {
        width: 1600px;
        margin: auto;
    }
}


